section.about
  div.content
    div.about__inner
      h2.title.about__title What is 
        span.bold Vertex
        |?
      div.about__description
        p 
          span.bold Vertex 
          |is a TPS-FPS multiplayer session game in a grim sci-fi world. 
        p Heavily inspired by «Jedi Knight» series, it offers a unique, deep, and responsive combat system.