section.features
  div.content
    div.title__wrapper
      h2.title Features
    div.features__inner
      div.features__item-wrapper
        div.features__item
          div.features__img-wrapper
            img.features__img(src="images/features-img.jpg" alt="features-img")
          div.features__description
            p.
              Allowing the players to engage in different stances and moves while having the 
              freedom to perform acrobatics and certain powers against other players.
            p.
              Featuring ranged and melee combat, Vertex aims to give freedom to players while 
              retaining quality presentation and gameplay.
          div.features__img-wrapper
            img.features__img(src="images/features-img2.jpg" alt="features-img")
        div.features__item
          div.features__img-wrapper
            img.features__img(src="images/features-img3.jpg" alt="features-img")
          div.features__description
            p.
              Set in a sci-fi timeline and featuring two distinct factions, players will be 
              able to choose and customize their avatar in the game.
            p.
              But above all, Vertex will feature modding support, enabling the players to 
              form a community and create content they would like to see.
          div.features__img-wrapper
            img.features__img(src="images/features-img4.jpg" alt="features-img")          
      