section.home
  include _header
  div#video.player(data-property="{videoURL:'https://youtu.be/it5_inpbUO4',containment:'self',autoPlay:true, showYTLogo:false, mute:true, loop:true, startAt:0, opacity:1}")