section.screenshots
  div.content
    div.screenshots__inner
      div.screenshots__sl
        div.screenshots__sl-slide
          img(src="images/screenshot.jpg" alt="screenshot")
        div.screenshots__sl-slide
          img(src="images/screenshot2.jpg" alt="screenshot")
        div.screenshots__sl-slide
          img(src="images/screenshot3.jpg" alt="screenshot")
        div.screenshots__sl-slide
          img(src="images/screenshot4.jpg" alt="screenshot")
      div.screenshots__min-sl
        div.screenshots__min-sl-slide
          img(src="images/screenshot-min.jpg" alt="screenshot-min")
        div.screenshots__min-sl-slide
          img(src="images/screenshot-min2.jpg" alt="screenshot-min")
        div.screenshots__min-sl-slide
          img(src="images/screenshot-min3.jpg" alt="screenshot-min")
        div.screenshots__min-sl-slide
          img(src="images/screenshot-min4.jpg" alt="screenshot-min")          