.header {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 63px;
    z-index: 99;
    &__inner {
        width: 100%;
        max-width: 1830px;
        margin: 0 auto;
        padding: 0 15px;
    }
    &__nav {
        width: 100%;
        @include space-between-and-items-center;
    }
    &__button {
        position: fixed;
        right: 3%;
        top: 80px;
        padding: 16px 55px;
        display: flex;
        flex-shrink: 0;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: -0.6px;
        border: 4px $red solid;
        background-color: $elements-bg;
        z-index: 9998;
        &:hover {
            color: $red;
            background: $black;
            transition: .5s;
        }
    }
}

.logo {
    width: 100%;
    max-width: 613px;
    margin-right: 50px;
    &__img {
        width: 100%;
    }
    &:hover {
        opacity: .7;
        transform: scale(.95);
        transition: .5s;
    }
}

@media (max-width: 920px) {
    .logo {
        max-width: 320px;
    }
    .header__button {
        top: 56px;
    }
}
@media (max-width: 720px) {
    .header {
        padding-top: 35px;
        &__button {
            top: 28px;
        }
    }
}
@media (max-width: 650px) {
    .header {
        padding-top: 20px;
        &__button {
            top: 7px;
            padding: 12px 50px;
            font-size: 20px;
            border-width: 2px;
        }
    }
    .logo {
        max-width: 150px;
    }
}

@media (max-width: 480px) {
    .header__button {
        top: 13px;
        padding: 10px 40px;
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .logo {
        max-width: 125px;
    }
}