.join {
    width: 100%;
    background: url(../images/join-bg.jpg) no-repeat;
    background-size: cover;
    &__inner {
        padding: 200px 0;
        @include flex-center;
    }
    &__link {
        width: 100%;
        max-width: 727px;
        &:hover {
            opacity: .7;
            transform: scale(.99);
            transition: .5s;
        }
    }
    &__link-img {
        width: 100%;
    }
}