@import 'normalize';
@import 'reset';
@import 'variables';
@import 'mixins';
@import 'home';
@import 'header';
@import 'about';
@import 'features';
@import 'screenshots';
@import 'join';
@import 'contact-us';
@import 'footer';

html,body {
    height: 100%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-color: $black;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1 0 auto;
}
